

table {
  border:none;
  border-collapse: separate;
  border-bottom: 3px solid #dddddd;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  font-size: 13px;
}


table td {
  border-left: 1px dotted #808080;
}

table td:first-child {
  border-left: 2px solid #dddddd;
}

table td:last-child{
  border-right: 2px solid #dddddd;
}

.btn-view, .current {
  text-align: center;
  font-family:"Arial" !important;
  font-size: 18px;
  padding: 20px 10px;
}

.table-view {
  padding: 5px 10px;
}

.month-view-btn {
  font-size: 18px;
  height: 40px;
  width: 300px;
  padding: 5px 40px !important;
}

.month-header {
  background-color: #c7c5c5 !important;
  border-bottom-color: transparent !important;
  color: rgb(67, 67, 67);
}

.weekday-header {
  background-color: #f0f3f4 !important;
}

.non-working-day {
  background-color: #a9a7a7 !important;
  color: rgb(67, 67, 67);
}

.today {
  background-color: #ff4eba !important;
}

.end-of-week {
  border-right: 1px solid #6b6a6a;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.uib-datepicker-popup-wrap {
  width: 1px;
}

.dropdown-menu {
  max-width: 320px;
}

button.confirm {
  background-color: green;
}

button.cancel {
  background-color: red;
}

.popup-btn {
  font-size: 18px;
  padding: 10px 25px;
}

body {
  padding: 40px !important;
}

.modal-header, .modal-footer {
  background-color: #dfdfdf;
  border-radius: 4px;
}

.timesheet-header {
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8 !important;
  padding: 10px 30px;
  border-radius: 4px;
}
