<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Smart Table Tests</title>

  <!--smart table components-->
  <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <script data-require="angular.js@1.2.25" data-semver="1.2.25" src="https://code.angularjs.org/1.2.25/angular.js"></script>
  <link rel="stylesheet" type="text/css" href="test/styleTest.css">




</head>
<body ng-app="timesheetApp">



<div ng-controller="NumCtrl">
  First day of month: {{ firstDayOfMonth }} <br>
  Is 20-8 a non working day: {{ d | date }} <br>
  Is 20-8 a non working day: {{ e1 | date:'MMM dd, yyyy' }}

  <br>
  Current day: <b> {{getWeekdayOf(d.getYear(), d.getMonth()-1, d.getDay())}} {{ d | date:'MMM dd, yyyy' }}</b>
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th ng-repeat="n in monthNums" class="month-header" ng-class="{'end-of-week': getWeekdayOf(2016,8,n) == 'Sa' }"> {{n}} </th>
    </tr>
    </thead>


    <tbody>
    <tr>
      <td ng-repeat="n in monthNums" ng-class="{'non-working-day' : getWeekdayOf(2016,8,n) == 'Sa' || getWeekdayOf(2016,8,n) == 'Su',
                    'end-of-week': getWeekdayOf(2016,8,n) == 'Sa' }">
        {{ getWeekdayOf(2016, 8, n) }}
      </td> <!-- Months: 1..12 -->
    </tr>
    <tr ng-repeat="i in [1,2,3]">
      <td ng-repeat="n in monthNums" ng-class="{'non-working-day' : getWeekdayOf(2016,8,n) == 'Sa' || getWeekdayOf(2016,8,n) == 'Su' ,
                    'end-of-week': getWeekdayOf(2016,8,n) == 'Sa' }"> &nbsp </td>
    </tr>
    <tr>
      <td ng-repeat="n in monthNums" ng-class="{'end-of-week': getWeekdayOf(2016,8,n) == 'Sa' }"><b>{{ n }} </b></td> <!-- Months: 1..12 -->
    </tr>
    </tbody>
  </table>

</div>



<br>
<br>
<br>
<br>
<br>

<div ng-controller="safeCtrl">

  <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
    <i class="glyphicon glyphicon-plus">
    </i> Add random item
  </button>

  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="firstName">first name</th>
      <th st-sort="lastName">last name</th>
      <th st-sort="birthDate">birth date</th>
      <th st-sort="balance">balance</th>
    </tr>
    <tr>
      <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.birthDate}}</td>
      <td>{{row.balance}}</td>
      <td>
        <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
          <i class="glyphicon glyphicon-remove-circle">
          </i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

</body>
</html>
