<!DOCTYPE html>

<html>
<head>
  <div class="timesheet-header">
    <b><i>*This is not a header*</i></b>
  </div>
</head>
<body ng-app="timesheetApp" >

<div ng-controller="NumCtrl">

  <div class="btn-view">
    <button type="button" class="month-view-btn, glyphicon glyphicon-triangle-left" ng-click="setMonthView(getMonthView().month-1,getMonthView().year)"> </button> &nbsp
    <button type="button" class="month-view-btn" > {{  getMonthView().date | date: 'MMMM yyyy' }}</button> &nbsp
    <button type="button" class="month-view-btn, glyphicon glyphicon-triangle-right" ng-click="setMonthView(getMonthView().month+1,getMonthView().year)"> </button>
    <div class="row">
      <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="current" ng-change="selectView(current)" is-open="popup1.opened"
                 datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div ng-controller="PopoverDemoCtrl" class="table-view">

    <button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Popover With Template</button>

    <script type="text/ng-template" id="myPopoverTemplate2.html">
      <div>{{dynamicPopover.content}}</div>
      <div class="form-group">
        <label>Popup Title:</label>
        <input type="text" min="0" ng-model="dynamicPopover.title" class="form-control">
        <div class="popup-btn">
          <button class="btn btn-sm btn-danger" ng-click="close($event)">Cancel</button>
          <button class="btn btn-sm btn-success pull-right" ng-click="">Confirm</button>
        </div>
      </div>
    </script>

    <!--<button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top"
            data-template-url="bower_components/angular-strap/src/modal/modal.demo.tpl.html" bs-modal="modal">Custom Modal
      <br>
      <small>(using data-template)</small>
    </button>
    <button type="button" class="btn btn-lg btn-danger" style="display: none;" ng-click="showModal()">Modal
      <br>
      <small>(using service)</small>
    </button>-->

  </div>

  <div class="table-view">
    <table st-table="rowCollection" class="table table-striped" id="calTable">
      <thead>
      <tr>
        <th ng-repeat="n in getMonthView().monthNum" class="month-header" ng-class="{
                    'end-of-week': getWeekdayOf(getMonthView().year, getMonthView().month, n) == 'Sa',
                    'today': isToday(getMonthView().year, getMonthView().month, n)}"> {{n}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td ng-repeat="n in getMonthView().weekdaysInMonth track by $index" class="weekday-header" ng-class="{
              'non-working-day' : getWeekdayOf(getMonthView().year,getMonthView().month,$index+1) == 'Sa' || getWeekdayOf(getMonthView().year,getMonthView().month,$index+1) == 'Su',
              'end-of-week': getWeekdayOf(getMonthView().year,getMonthView().month,$index+1) == 'Sa' }">
              {{ n }}
        </td>
      </tr>
      <tr>
      <tr ng-repeat="j in [1,2,3]" ng-click="test(' ')">
        <td ng-repeat="di in getMonthView().monthNum" ng-bind-html="scheduleMatrix[getMonthView().year-2015][getMonthView().month][di-1][j-1]" ng-class="{
                    'non-working-day' : getWeekdayOf(getMonthView().year,getMonthView().month,di) == 'Sa' || getWeekdayOf(getMonthView().year,getMonthView().month,di) == 'Su' ,
                    'end-of-week': getWeekdayOf(getMonthView().year,getMonthView().month,di) == 'Sa' }"
            uib-popover-template="dynamicPopover.templateUrl" popover-title="Quit with Esc" >

          <script type="text/ng-template" id="myPopoverTemplate.html">
            <div></div>

            <div class="form-group">
              {{di + " "}}{{getMonthView().date | date: 'MMMM, yyyy'}}{{", Row: " + j}}
              <label>Hour(s) to add:</label>
              <input type="number" min="0" class="form-control" ng-model="hourVal" >
              <div class="popup-btn">
                <button class="btn btn-sm btn-danger" ng-click="$hide()">Cancel</button>
                <button class="btn btn-sm btn-success pull-right" ng-click="saveToSchedule(getMonthView().date, di, j, hourVal)">Confirm</button>
              </div>
            </div>
          </script>

        </td>
      </tr>

      <tr>
        <td ng-repeat="n in getMonthView().monthNum" ng-class="{
                    'end-of-week': getWeekdayOf(getMonthView().year,getMonthView().month,n) == 'Sa' }"><b>{{ n }} </b></td> <!-- Months: 1..12 -->
      </tr>
      </tbody>
    </table>
  </div>

  <div ng-controller="Main as vm">

    <table>
      <tr ng-repeat="j in [1,2,3]" >
        <td ng-repeat="di in [0,1,2,3,4,5,6,7,8,9]" >
          <button ng-click="vm.deleteModal(di)">{{j + ", " + di}}</button>
        </td>
    </table>


    <table class="table">
      <tr ng-repeat="p in vm.people">
        <td>{{ p }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-primary" ng-click="vm.deleteModal(p)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div ng-controller="newAppCtrl" >
    First Name: <input type="text" ng-model="first"><br>
    Last Name: <input type="text" ng-model="last"><br>
    Full Name: {{first + " " + last}}<br>

    {{a.getDay()}} <br>
    {{b | date: 'yyyy MMM dd' : '+0100'}}

  </div>

  <div ng-controller="safeCtrl">

    <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
      <i class="glyphicon glyphicon-plus">
      </i> Add random item
    </button>

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="firstName">first name</th>
        <th st-sort="lastName">last name</th>
        <th st-sort="birthDate">birth date</th>
        <th st-sort="balance">balance</th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in rowCollection">
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.birthDate}}</td>
        <td>{{row.balance}}</td>
        <td>
          <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle">
            </i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>


